.feed-conteudo-posts {
    width: 70vw;
    margin: 0 auto;
    padding: 1rem;

    border: 1px solid teal;
    border-radius: 5px;
}

.feed-conteudo-posts__usuario {
    display: flex;
    align-items: center;

    padding: 0.5rem;
}

.feed-conteudo-posts__usuario--foto {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.feed-conteudo-posts__foto--img {
    width: 50vw;
}

.feed-conteudo-posts__descricao {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 0.5rem;
}

.feed-conteudo-posts__descricao--text {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.feed-conteudo-posts__caixa-interacao {
    display: flex;
    justify-content: space-around;
}

.feed-conteudo-posts__interacao--icone-interacao {
    width: 30px;
    height: 30px;
}

.feed-conteudo-posts__caixa-interacao__icones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-conteudo-posts__interacao-foto--icones {
    display: flex;
    width: 10vw;
    justify-content: space-between;
}

.feed-conteudo-posts__interacao--icone-interacao.curtir {
    background-image: url("../../img/curtida.png");
}

.feed-conteudo-posts__interacao--icone-interacao.comentar {
    background-image: url("../../img/comentar.png");
}

.feed-conteudo-posts__interacao--icone-interacao.compartilhar {
    background-image: url("../../img/compartilhar.png");
}

.feed-conteudo-posts__interacao-foto-comentario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.feed-conteudo-posts__interacao-foto-comentario-campo {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
}

.feed-conteudo-posts__interacao-foto-comentario-campo-submit {
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.1rem 0;
}

@media (min-width:0px) and (max-width:1024px) {
    .feed-conteudo-posts {
        width: 100vw;
        padding: 0;
        border: none;
        border-top: 1px solid teal;
        border-bottom: 1px solid teal;
        border-radius: 0;
    }

   .feed-conteudo-posts__caixa-interacao {
       display: block;
   }

   .feed-conteudo-posts__foto--img {
       width: 100vw;
   }

   .feed-conteudo-posts__interacao-foto--icones {
       width: 40vw;
   }

   .feed-conteudo-posts__interacao-foto-comentario-campo, .feed-conteudo-posts__interacao-foto-comentario-campo-submit {
       width: 60%;
       margin: 0 auto;
       margin-bottom: 0.5rem;
   }
}