.rodape {
    background-color: teal;
    box-shadow: 0 0.1px 2px rgb(173, 172, 172);

    position: fixed;
    bottom: 0;

    width: 100vw;

    text-align: center;
}

.rodape__titulo {
    color: var(--branco);
    text-transform: lowercase;
    font-family: var(--fonte-logo);

    padding: 0.5px 0;
}